.main {
  border: 12px solid transparent;
  border-radius: 24px;
  background:
    linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #ff52e5, #f6d242) border-box;
  color: white;
}
